html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display:flex;
  flex-direction: column;
  align-items: center;
}

p.center{
  text-align: center;
}

.email {
  font-weight: bold;
  font-size: 18px;
}

.slim {
  max-width: 768px;
}

/* header styles */

#title {
  display: flex;
  flex-direction: row;
}

#title h1 {
  font-size: 72px;
}

#title h3 {
  padding: 14px 5px 0 0;
  font-size: 24px;
}

/* nav styles */

#nav {
  width: 100%;
}

#nav-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0 0 20px 0;
  font-size: 16px;
}

#nav-bar a:link {
  text-decoration: none;
}

.nav-item {
  padding: 5px 25px;
  color: #888;
  border: 1px solid transparent;
  transition: border 0.5s, color 0.5s;
}

.nav-item.selected{
  color: black;
  font-weight:bold
}

.nav-item:hover {
  border: 1px solid lightgray;
  color: black;
}

/* image gallery styles */

#portfolio {
  padding: 0 20px;
}

#portfolio .portfolio-row {
  display: flex;
  flex-direction: row;
}

#portfolio .portfolio-image-background {
  margin: 5px;
  background-color: black;
}

#portfolio .portfolio-image {
  object-fit: cover;
}

#portfolio .portfolio-image:hover {
  opacity: 70%;
}

/* single image styles */

.singleimage-nav a,.link-disabled{
  padding: 5px;
  font-size: 20px;
}

.singleimage-nav a {
  color: black;
  text-decoration: none;
}

.singleimage-nav .link-disabled {
  color: #AAA;
}

.singleimage-nav .singleimage-nav-back {
  font-weight: bold;
}

.no-image {
  padding: 200px 0;
}